
@*<link rel="stylesheet" href="https://unpkg.com/bs-stepper/dist/css/bs-stepper.min.css">
<script src="https://unpkg.com/bs-stepper/dist/js/bs-stepper.min.js"></script>

<div id="stepper-example" class="bs-stepper">
    <div class="bs-stepper-header">
        <div class="step" data-target="#test-l-1">
            <a href="#">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">First step</span>
                
            </a>
            
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-2">
            <a href="#">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Second step</span>
            </a>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-3">
            <a href="#">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Third step</span>
            </a>
        </div>
    </div>
    <div class="bs-stepper-content">
        <div id="test-l-1" class="content">
            <p class="text-center">test 1</p>
            <button class="btn btn-primary" onclick="myStepper.next()">Next</button>
        </div>
        <div id="test-l-2" class="content">
            <p class="text-center">test 2</p>
            <button class="btn btn-primary" onclick="myStepper.next()">Next</button>
        </div>
        <div id="test-l-3" class="content">
            <p class="text-center">test 3</p>
            <button class="btn btn-primary" onclick="myStepper.next()">Next</button>
            <button class="btn btn-primary" onclick="myStepper.previous()">Previous</button>
        </div>
    </div>
</div>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>

<script type="text/javascript">
    // Vanilla JavaScript
    document.addEventListener('DOMContentLoaded', function () {
        myStepper = new Stepper(document.querySelector('#stepper-example'))
    })
    // As a jQuery Plugin

    $(document).ready(function () {
        var myStepper = new Stepper($('#stepper-example'));

        myStepper = new Stepper(document.querySelector('#stepper-example'), {
            linear: false
        });

        myStepper = new Stepper(document.querySelector('#stepper-example'), {
            animation: true
        });
    })
</script>*@


